<div class="contact contact-bg">
    <img src="img/contact/contact.jpg" alt="" class="img-responsive">
</div>
<div class="contact-color">
    <div class="container">
        <div class="contact-info">
            <div class="contact-heading text-center">
                <h1>CONTACT US</h1>
            </div>
            <div class="row-flex">
                <div class="flex-item-1">
                    <div class="arrow"></div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d141497.35746472114!2d81.53141920086995!3d21.26080133200753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dda23be28229%3A0x163ee1204ff9e240!2sRaipur%2C+Chhattisgarh!5e0!3m2!1sen!2sin!4v1492499826270"
                            width="627" height="477" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="flex-item-2">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="m0">DAIRY FARM</h5>
                            <p>Gram Nayak Tand, Tidaka Road,Kharora, Raipur, Chhattisgarh</p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="m0">CORPORATE OFFICE</h5>
                            <p>52 Mahalaxmi Market, Pandri,Raipur, Chhattisgarh</p>
                        </div>
                    </div>
                    <div class="row">
                        <form>
                            <div class="col-md-12">
                                <h2>GET IN TOUCH</h2>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="mobile" placeholder="Mobile No.">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Comments..."></textarea>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-sent">Sent</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="truck">
        <img src="img/contact/3.png" alt="" class="img-responsive">
    </div>
    <div class="wheel">
        <img src="img/contact/4.png" alt="" class="img-responsive">
    </div>
    <div class="fan">
        <img src="img/contact/1.png" alt="" class="img-responsive">
    </div>
</div>