<div class="bg-csr">
  <div class="container">
    <div class="white-box">
      <h1 class="text-center">Lopreum is dummy text</h1>
      <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
      <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
      <div class="flex-slider">
          <flex-slider  flex-slide="s in mySlides" prev-text="" next-text="" animation="slide" item-width="400" item-margin="25" min-items="2">
            <!--animation="slide" item-width="100" item-margin="50" min-items="3">-->
          <li>
            <img ng-src="{{s}}" class="img-full">
          </li>
          </flex-slider>
        </div>
        <div class="text-center">
          <span class="inline">Also View:</span>
          <div class="btn-grp inline">
            <div class="btn btn-default">Overview</div>
            <div class="btn btn-default">Our Team</div>
            
          </div>
        </div>
    </div>
  </div>
</div>    

<!--flex-slide="s in mySlides"-->