<div class="bg-csr">
  <div class="container">
    <div class="white-box">
      <div class="white-box-heading">
      <h1 class="text-center">Lorem Ipsum is simply dummy text of the 
printing and typesetting 
</h1>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
      </div>
      <div class="flex-slider">
          <flex-slider  flex-slide="s in mySlides" prev-text="" next-text="" animation="slide" item-width="300" item-margin="25" min-items="2">
            <!--animation="slide" item-width="100" item-margin="50" min-items="3">-->
          <li>
            <img ng-src="{{s}}" class="img-full">
          </li>
          </flex-slider>
        </div>
        <div class="text-center side-text">
          <span class="inline">Also View:</span>
          <div class="btn-grp inline ">
            <div class="btn btn-default btn-csr">Overview</div>
            <div class="btn btn-default btn-csr">Our Team</div>
            
          </div>
        </div>
    </div>
  </div>
</div>    

<!--flex-slide="s in mySlides"-->