<div class="news-bg">
    <div class="container">
        <div class="news-content">
            <h1 class="text-center">NEWS & EVENT</h1>
            <div class="news-green-content">
                <div class="row-flex">
                    <div class="col-flex news-img">
                        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book</p>
                    </div>
                    <div class="col-flex">
                        <img src="img/news-event/4.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-flex news-img">
                        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book</p>
                    </div>
                    <div class="col-flex">
                        <img src="img/news-event/3.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="row-flex">
                    <div class="col-flex">
                        <img src="img/news-event/5.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-flex news-img">
                        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book</p>
                    </div>
                    <div class="col-flex">
                        <img src="img/news-event/6.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-flex news-img">
                        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>