<section class="main-overview">v
  <div class="overview-heading">
  <h1 class="text-center text-uppercase">Overview</h1>
  </div>
  <div class="container">
    <div class="red-box">
      <div class="text-center aboutus-heading">
        <h1 class="text-uppercase">About Us</h1>
        <p>A REMARKABLE POSITION AMONG DAIRY INDUSTRYS</p>
      </div>
      <div class="aboutus-text">
        <p>Vachan, brand of Sarda Dairy & Food Products pvt. ltd. differentiates itself in dairy business model i.e., from dairy
          farm to finished milk products. Vachan will play a vital role in supplying milk and milk products like curd as
          milk enriches life with the proteins contained in it.</p>
        <p>Sarda Dairy & Food Products pvt. ltd. is devoted to uphold institutional structures that permit milk producers and
          farmers through processes that are reasonable. A significant portion of its income is ploughed back into the value
          chain to support and maintain the supply chain system.We are keen to provide a secure and positive work environment
          with the aim of inspiring pride and ownership in our staffs. </p>
      </div>
    </div>
  </div>
  <div class="bottle-image">
    <img src='img/overview/1.png' class="img-responsive">
  </div>
  <div class="haystack-image">
    <img src="img/overview/5.png" class="img-responsive">
  </div>
  <section>
    <div class="vision-mission">
      <div class="row">
        <div class="col-lg-6 vision">
          <h1 class="text-uppercase vision">Vision</h1>
          <p>Service to rural farmers. We are committed to become the pioneering market leader by supplying quality milk and
            milk products and trustworthy services to our clienteles. </p>
        </div>
        <div class="col-lg-6 mission">
          <h1 class="text-uppercase mission">mission</h1>
          <p>Our mission is to deliver safe and wholesome products consistently to our valued clienteles. To meet this objective
            we have developed programs and policies focusing on the safety and quality of our products. We made preventive
            measures to keep out budding food hazards and focuses on effective recordkeeping to reveal a continual commitment
            to food safety. </p>
        </div>
      </div>
    </div>
  </section>
  <section> 
    <div class="values">
      <h1 class="text-center text-uppercase">Values</h1>
      <div class="row">
            <ul class="timeline ">
        <li>
          <div class="timeline-badge up"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Time Line Entry #1</h4>
            </div>
            <div class="timeline-body">
              <p>Time line content is placed here...</p>
            </div>
          </div>
        </li>
            </ul>
        <div class="col-lg-6">
        

        </div>
        <div class="col-lg-6">


        </div>

      </div>

    </div>

  </section>
  <section>
    <div class="overview-butn">
    <div class="text-center side-text-overview">
          <span class="inline">Also View:</span>
          <div class="btn-grp inline ">
            <div class="btn btn-default btn-md btn-overview">Overview</div>
            <div class="btn btn-default btn-md btn-overview">Our Team</div>
            
          </div>
    </div>

    </div>

  </section>
  <div class="milk-image">
    <img src="img/overview/milk.png" class="img-responsive">
    </div>
  <div class="tractor-image">
    <img src="img/overview/track.png" class="img-responsive">
    </div>
</section>