<section class="main-overview">
  <div class="main-image">
    <img src="img/overview/fbg.jpg" class="img-responsive">
    <div class="overview-heading">
    <h1 class="text-center text-uppercase">Overview</h1>
  </div>
  </div>
  
</section>
<div class="green-bg">
<div class="container">
  
  <div class="red-box">
    <img class="img-responsive" src="img/overview/nicon.png">
    <div class="text-center aboutus-heading">
      <h1 class="text-uppercase">About Us</h1>
      <p>A REMARKABLE POSITION AMONG DAIRY INDUSTRY</p>
    </div>
    <div class="aboutus-text">
      <p>Vachan, brand of Sarda Dairy & Food Products pvt. ltd. differentiates itself in dairy business model i.e., from dairy
        farm to finished milk products. Vachan will play a vital role in supplying milk and milk products like curd as milk
        enriches life with the proteins contained in it.</p>
      <p>Sarda Dairy & Food Products pvt. ltd. is devoted to uphold institutional structures that permit milk producers and
        farmers through processes that are reasonable. A significant portion of its income is ploughed back into the value
        chain to support and maintain the supply chain system.We are keen to provide a secure and positive work environment
        with the aim of inspiring pride and ownership in our staffs. </p>
    </div>
  </div>
</div>
</div>
<!--<div class="bottle-image">
    <img src='img/overview/nb.png' class="img-responsive">
  </div>
  <div class="haystack-image">
    <img src="img/overview/nhay.png" class="img-responsive">
  </div>-->
<section>
  <div class="vision-mission">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6 ">
          <div class="vision-div">
            <h1 class="text-uppercase vision">Vision</h1>
            <div class="visionparagraph">
              <p class="vimi-line">Service to rural farmers. We are committed to become the pioneering market leader by supplying quality milk
                and milk products and trustworthy services to our clienteles. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6 ">
          <h1 class="text-uppercase mission">mission</h1>
          <p>Our mission is to deliver safe and wholesome products consistently to our valued clienteles. To meet this objective
            we have developed programs and policies focusing on the safety and quality of our products</p>
          <p>We made preventive measures to keep out budding food hazards and focuses on effective recordkeeping to reveal a
            continual commitment to food safety.</p>
        </div>
      </div>
    </div>
    <div class="bottle-image">
      <img src='img/overview/try.png' class="img-responsive">
    </div>
    <div class="haystack-image">
      <img src="img/overview/nhay.png" class="img-responsive">
    </div>
  </div>
</section>





<section id="values">
  <div class="container">

    <div class="page-header text-center text-uppercase">
      <h1 id="timeline">Values</h1>
    </div>
    <ul class="timeline">
      <li class="timeline-inverted">
        <div class="timeline-badge"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Quality</h4>
          </div>
          <div class="timeline-body">
            <p>We are committed to quality – the quality of our products, our services and our way of doing business.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge warning"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title heading">Accountability</h4>
          </div>
          <div class="timeline-body">
               <p class="accountability">We stick on our commitments </p>
               <p>and hold ourselves responsible for our activities.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge danger"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Innovation</h4>
          </div>
          <div class="timeline-body">
            <p>We support an innovative environment where staffs are encouraged to take appropriate risks and challenge the
              status quo.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge info"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title heading">Integrity</h4>
          </div>
          <div class="timeline-body">
            <p class="integrity">We act properly in each and every matter without exception.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge info"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Community</h4>
          </div>
          <div class="timeline-body">
            <p>We are devoted to serve, lead and educate in the societies in which we live, and are connected to the greater
              agricultural community in which we operate.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="overview-footer">
  <div class="overview-butn">
    <div class="text-center side-text-overview text-uppercase">
      <span class="inline alsoview-overview">Also View:</span>
      <div class="btn-grp inline bt-cs-ot">
        <div class="btn btn-default btn-md btn-overview">Csr</div>
        <div class="btn btn-default btn-md btn-overview">Our Team</div>
      </div>
    </div>
  </div>
  <div class="milk-image">
    <img src="img/overview/nmilk.png" class="img-responsive">
  </div>
  <div class="tractor-image">
    <img src="img/overview/track.png" class="img-responsive">
  </div>
</section>