<div class="product-bg">
    <img src="img/product/1.jpg" alt="" class="img-responsive">
</div>
<!--<div class="container">-->
<div class="grass">
    <img src="img/product/3.jpg" alt="" class="img-responsive">
    <img src="img/product/2.png" alt="" class="img-responsive fence-white">
    <div class="container">
    <div class="grass-content">
        <div class="row">
            <div class="col-md-5">
                <div class="milk">
                    <img src="img/product/milk.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-7">
                <div class="product-details">
                    <div class="nutrition-img">
                        <img src="img/product/5.png" class="img-responsive">
                    </div>
                    <div class="approx">
                        <p>*Approx values</p>
                    </div>
                    <div class="product-table">
                        <h2 class="text-center">NUTRITION FACTS</h2>
                        <table class="table table-striped">

                            <tbody>
                                <tr>
                                    <td>Amount per</td>
                                    <td>100gm</td>

                                </tr>
                                <tr>
                                    <td>Energy</td>
                                    <td>86.0Kcal</td>

                                </tr>
                                <tr>
                                    <td>Saturated Fat</td>
                                    <td>3.96g</td>

                                </tr>
                                <tr>
                                    <td>TotalCarbohydrats</td>
                                    <td>0g</td>

                                </tr>
                                <tr>
                                    <td>Trans Fat</td>
                                    <td>4.90g</td>

                                </tr>
                                <tr>
                                    <td>Total Fat</td>
                                    <td>0.6g</td>

                                </tr>
                                <tr>
                                    <td>Added Sugar</td>
                                    <td>4.90g</td>

                                </tr>
                                <tr>
                                    <td>Protain</td>
                                    <td>Defaultson</td>

                                </tr>
                                <tr>
                                    <td>Calcium</td>
                                    <td>Defaultson</td>

                                </tr>
                            </tbody>
                        </table>
                        <p>Not a Significant source of dietary ,Fiber,vitamin <br>C and Iron</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="special-features">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="vachan-unomilk">
                    <div class="bg-vachan"><img src="img/product/7.png" alt="" class="img-responsive"></div>
                    <div class="vachan-content">
                        <h2>Vachan UNO Milk </h2>
                        <p class="twentyfive">25% more Creamy</p>
                        <p>Vachan UNO Milk - a perfect blend of rich nutrients and wholesome tasteis a highly trustworthy nourishment
                            source for yourentire family.</p> 
                            <p>Sarda Dairy & Food Products Pvt. Ltd. yields Vachan UNO Milk, which
                            is 25% more thick and creamy as compared to other toned milks.UNO milk enrich the taste of your tea & coffee. Vachan UNO Milk is prepared by PHom process which
                            meets the expectation of housewives.</p>
                        <p> Vachan UNO Milk contains nine essential nutrients and vitamins, including protein, vitamins A, D,
                            and B12, calcium, potassium, phosphorus. Children who drink Vachan UNO milk tend to have “superior”
                            overall nutrient intake. It is a</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="special-features-main">
                    <div class="special-features-sec">
                        <h2>SPECIAL FEATURES</h2>
                        <ul>
                            <li>The whole family loves the thick and creamy Vachan UNO milk.</li>

                            <li>With Vachan UNO milk, you can more rejoice with an extra cup of tea with your friends.</li>

                            <li>At home itself, you can easily prepare pure ghee out of creamy Vachan UNO Milk.</li>

                            <li>You can get the thick and creamy curd out of Vachan UNO milk.</li>

                        </ul>
                    </div>
                    <div class="available-sec">
                        <h2>AVAILABLE IN</h2>
                         <div class="inline">
                        <ul>
                           
                                <li>50 gm single serve pack</li>
                                <li>110 gm mini pack</li>
                        </ul>
                            </div>
                            <div class="inline">
                                <ul>
                                <li>200 gm family pack</li>
                                <li>400 gm economy pack</li>
                           
                        </ul>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="store-locator-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="store-search">
                    <h2>STORE LOCATOR</h2>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="STATE">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="house">
                            <img src="img/product/nhome.png" alt="" class="img-responsive">

                            <h5> Dairy Farm</h5>
                            <p>Gram Nayak Tand, Tilda Road,Kharora, Raipur, Chhattisgarh - India</p>
                            <p> 201 & 202, 2nd Floor, Supreme Chambers, Off Veera Desai Road, 17/18 Shah Industrial Estate, Andheri
                                (W), Mumbai- 400053, India</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="house">
                            <img src="img/product/nhome.png" alt="" class="img-responsive">

                            <h5> Dairy Farm</h5>
                            <p>Gram Nayak Tand, Tilda Road,Kharora, Raipur, Chhattisgarh - India</p>
                            <p> 201 & 202, 2nd Floor, Supreme Chambers, Off Veera Desai Road, 17/18 Shah Industrial Estate, Andheri
                                (W), Mumbai- 400053, India</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="house">
                            <img src="img/product/nhome.png" alt="" class="img-responsive">

                            <h5> Dairy Farm</h5>
                            <p>Gram Nayak Tand, Tilda Road,Kharora, Raipur, Chhattisgarh - Inda</p>
                            <p> 201 & 202, 2nd Floor, Supreme Chambers, Off Veera Desai Road, 17/18 Shah Industrial Estate, Andheri
                                (W), Mumbai- 400053, India</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="truck">
            <img src="img/product/ttr.png" alt="" class="img-responsive">
        </div>
        <div class="fan">
            <img src="img/product/fan.png" alt="" class="img-responsive">
        </div>
    </div>
</div>
