<div class="team-bg">
  <div class="team-heading ">
    <h1 class="text-center">OUR TEAM</h1>
  </div>
  <div class="container">
    <div class="white-box-team">
      <div class="sitting-image text-center">
        <img src="img/team/sit2.png" class="img-responsive">
      </div>
      <div class="white-box-team-heading">
        <h1 class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting</h1>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
          into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
          of Letraset sheets containing Lorem Ipsum passages,</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
          into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
          of Letraset sheets containing Lorem Ipsum passages,</p>
      </div>
      <div class="row text-center row-1">
        <div class="col-md-4">
          <div class="circle-image">
            <img src="../img/team/face.png" class="img-responsive img-circle">
            <div class="image-text">
              <h1 class="text-uppercase ">Manav Vora</h1>
              <p>Sarda Group,head quater in Raipur,</br>Chhattisgarh</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="circle-image">
            <img src="../img/team/face.png" class="img-responsive img-circle">
            <div class="image-text">
              <h1 class="text-uppercase">Manav Vora</h1>
              <p>Sarda Group,head quater in Raipur,</br>Chhattisgarh</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="circle-image">
            <img src="../img/team/face.png" class="img-responsive img-circle">
            <div class="image-text">
              <h1 class="text-uppercase ">Manav Vora</h1>
              <p>Sarda Group,head quater in Raipur,</br>Chhattisgarh</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center row-2">
        <div class="col-md-4">
          <div class="circle-image">
            <img src="../img/team/face.png" class="img-responsive img-circle">
            <div class="image-text">
              <h1 class="text-uppercase ">Manav Vora</h1>
              <p>Sarda Group,head quater in Raipur,</br>Chhattisgarh</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="circle-image">
            <img src="../img/team/face.png" class="img-responsive img-circle">
            <div class="image-text">
              <h1 class="text-uppercase ">Manav Vora</h1>
              <p>Sarda Group,head quater in Raipur,</br>Chhattisgarh</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="circle-image">
            <img src="../img/team/face.png" class="img-responsive img-circle">
            <div class="image-text">
              <h1 class="text-uppercase ">Manav Vora</h1>
              <p>Sarda Group,head quater in Raipur,</br>Chhattisgarh</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center side-text-team">
        <span class="inline text-uppercase alsoview-team">Also View:</span>
        <div class="btn-grp inline bt-ov-csr">
          <div class="btn btn-default btn-team text-uppercase">Overview</div>
          <div class="btn btn-default btn-team text-uppercase">csr</div>
        </div>
      </div>
          <div class="truk-image">
      <img src="img/team/newt.png" class="img-responsive">
    </div>
    </div>

  </div>
</div>