<div class="team-bg">

  <div class="container">
      <div class="sitting-image text-center">
        <img src="img/team/1.png" class="img-responsive">
      </div>
    <div class="white-box-team">
      <div class="white-box-team-heading">
        <h1 class="text-center">Lorem Ipsum is simply dummy text of the 
printing and typesetting</h1>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
      </div>
      <div class="row text-center row-1">
        <div class="col-md-4">
          <div class="circle-image">
          <img src="../img/team/3.png" class="img-responsive img-circle">
          <div class="image-text">
            <h1 class="text-uppercase ">Manav Vora</h1>
            <p>Sarda Group,head quater in Raipur,Chhattisgarh</p>
          </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="circle-image">
          <img src="../img/team/3.png" class="img-responsive img-circle">
          <div class="image-text">
            <h1 class="text-uppercase">Manav Vora</h1>
            <p>Sarda Group,head quater in Raipur,Chhattisgarh</p>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="circle-image">
          <img src="../img/team/3.png" class="img-responsive img-circle">
          <div class="image-text">
            <h1 class="text-uppercase ">Manav Vora</h1>
            <p>Sarda Group,head quater in Raipur,Chhattisgarh</p>
          </div>
          </div>
        </div>

      </div>

      <div class="row text-center row-2">
        <div class="col-md-4">
          <div class="circle-image">
          <img src="../img/team/3.png" class="img-responsive img-circle">
          <div class="image-text">
            <h1 class="text-uppercase ">Manav Vora</h1>
            <p>Sarda Group,head quater in Raipur,Chhattisgarh</p>
          </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="circle-image">
          <img src="../img/team/3.png" class="img-responsive img-circle">
          <div class="image-text">
            <h1 class="text-uppercase ">Manav Vora</h1>
            <p>Sarda Group,head quater in Raipur,Chhattisgarh</p>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="circle-image">
          <img src="../img/team/3.png" class="img-responsive img-circle">
          <div class="image-text">
            <h1 class="text-uppercase ">Manav Vora</h1>
            <p>Sarda Group,head quater in Raipur,Chhattisgarh</p>
          </div>
          </div>
        </div>

      </div>
      <div class="text-center side-text-team">
          <span class="inline">Also View:</span>
          <div class="btn-grp inline ">
            <div class="btn btn-default btn-csr">Overview</div>
            <div class="btn btn-default btn-csr">Our Team</div>
            
          </div>
    </div>

    </div>

  </div>
  <div class="truk-image">
    <img src="img/team/2.png" class="img-responsive">
  </div>
</div>