
/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-white:#fff;
$brand-brown:#924118;
$brand-red:#ce3e26;
$brand-green:#63c38b;
$Light-green:#aac977;
$Dark-green:#63c28a;
$Dark-red:#bb372c;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.otf');
}

@font-face {
    font-family: 'Quicksand-LightItalic';
    src: url('../fonts/Quicksand-LightItalic.otf');
}

@import "other/font-fix";
body {
    // padding-top: 70px;
    overflow-x: hidden;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-family: Roboto-Regular;
    font-size: 9px;
    font-weight: 400;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

//globle scss
.inline {
    display: inline-block;
}

.block {
    display: block;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-flex {
    flex: 1;
    display: block;
    width: 50%;
}

.m0 {
    margin: 0;
}

.bold {
    font-weight: 600;
}

.p0 {
    padding: 0px;
}

.relate {
    position: relative;
}

h1 {
    font-family: Quicksand-Regular;
    color: $brand-brown;
    font-weight: 600;
    font-size: 58px;
}

//SCSS FOR HEADER
.navbar {
    padding: 5px 0;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.82);
    margin: 0;
    left: 0;
    z-index: 99;
}

.navbar_menu {
    float: left;
    height: 50px;
    @include padding(15px 15px 15px 15px);
    font-size: 18px;
    line-height: 20px;
}

.navbar .navbar_menu .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #ab5225;
    margin-top: 4px;
    border-radius: 1px;
}

.social-icon-header {
    a {
        width: 23px;
        height: 23px;
        border-radius: 100%;
        line-height: 23px;
        margin-top: 12px;
        background-color: #ab5225;
    }
    i {
        color: #ffffff;
        font-size: 12px;
    }
    .list-inline {
        li {
            padding: 3px;
        }
    }
}

.logo-header {
    img {
        margin: 0 auto;
    }
}

//END OF HEADER
//SCSS FOR FOOTER 
footer {
    background-color: #171717;
    color: #ffffff;
    padding: 10px 0;
    p {
        margin: 5px 0;
        font-weight: 600;
    }
    a {
        color: $brand-white;
    }
}

.follow p {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.social-icon-footer {
    .list-inline {
        margin: 0px;
        li {
            padding: 0px;
        }
    }
}

.social-icon-footer a {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 23px;
    margin-right: 2px;
    background-color: #fff;
}

.social-icon-footer a i {
    //color: #ab5225;
    font-size: 12px;
    color: black;
}

//END OF FOOTER
//SCSS FOR PROCUREMENT START
.section-common {
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
    width: 100%;
    height: 100vh;
    p {
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        font-family: Roboto-Regular;
    }
}

//SCSS FOR SECTION-1
.sec-bg-1 {
    background-image: url("../img/home/1.png");
    position: relative;
    min-height: 660px;
    h2 {
        font-size: 85px;
        font-family: Quicksand-Regular;
        color: $brand-white;
        position: relative;
    }
    h2:before {
        content: "";
        position: absolute;
        border-bottom: 2px dashed $brand-white;
        @include size(49%,
        20px);
        bottom: 0;
    }
    h3 {
        font-size: 25px;
        color: $brand-white;
        margin-top: 0;
        font-family: Roboto-Regular;
    }
    p {
        font-size: 12px;
        text-transform: uppercase;
        color: #0b5e7b;
        font-family: Roboto-Regular;
    }
}

.pro-heading {
    padding-top: 100px;
}

//SCSS FOR SECTION-2
.sec-bg-2 {
    background-image: url("../img/home/2.png");
    position: relative;
    margin-top: -105px;
    min-height: 820px;
}

.section-2 {
    position: relative;
    margin-top: 160px;
    p {
        @include position(absolute,
        60% null null 47%);
        @include padding(0 30px);
        transform: translate(-50%, -50%);
    }
}

//SCSS FOR SECTION-3
.section-3 {
    position: relative;
    margin-top: 170px;
    p {
        @include position(absolute,
        60% null null 47%);
        @include padding(0 25px);
        transform: translate(-50%, -50%);
    }
}

.sec-bg-3 {
    background-image: url("../img/home/3.png");
    position: relative;
    margin-top: -135px;
    min-height: 850px;
}

//SCSS FOR SECTION-4
.section-4 {
    position: relative;
    margin-top: 150px;
    p {
        @include position(absolute,
        60% null null 50%);
        @include padding(0 0px);
        transform: translate(-50%, -50%);
    }
}

.sec-bg-4 {
    background-image: url("../img/home/4.png");
    position: relative;
    margin-top: -140px;
    min-height: 870px;
}

//SCSS FOR SECTION-5
.section-5 {
    position: relative;
    margin-top: 160px;
    p {
        @include position(absolute,
        60% null null 48%);
        @include padding(0 20px);
        transform: translate(-50%, -50%);
    }
}

.sec-bg-5 {
    background-image: url("../img/home/5.png");
    position: relative;
    margin-top: -155px;
    min-height: 800px;
}

//END OF PROCUREMENT
//SCSS FOR CONTACT US
.contact-color {
    background-color: $Light-green;
    position: relative;
}

.fan {
    position: absolute;
    right: 22px;
    bottom: 0;
}

.truck {
    position: absolute;
    top: -17%;
    right: 0;
    transform: scaleX(-1);
}

.wheel {
    @include position(absolute,
    -67px 50px null null);
}

.contact-info {
     ::-webkit-input-placeholder {
        color: white;
    }
    .form-control {
        background: #cd3d26;
        &:focus,
        &:active {
            border-color: white;
        }
    }
    .map {
        height: 477px;
    }
}

.btn-sent {
    width: 100px;
    padding: 3px;
    border-radius: 5px;
    color: #cd3d26;
    background: $brand-white;
}

.contact-info {
    margin: 0px 0 50px 0;
    .flex-item-1 {
        position: relative;
        flex: 5;
    }
    .flex-item-2 {
        flex: 4;
        padding: 64px 50px;
        background: #cd3d26;
        position: relative;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 25px solid #cd3d26;
            border-right: 22px solid transparent;
            border-left: 25px solid transparent;
            position: absolute;
            left: -30px;
            transform: rotate(-90deg);
        }
    }
    h1 {
        font-family: Quicksand-Regular;
        color: $brand-brown;
        font-weight: 600;
        font-size: 60px;
    }
    h5 {
        font-weight: 600;
    }
    h5,
    p {
        color: $brand-white;
        font-family: Roboto-Light;
    }
    h2 {
        font-family: Quicksand-Regular;
        color: $brand-white;
        font-weight: 600;
    }
}

//END OF CONTACT US
//SCSS FOR NEWS AND EVENTS
.news-content {
    background: #fff;
    padding: 0 50px 50px 50px;
    position: relative;
    h1 {
        font-family: Quicksand-Regular;
        color: $brand-red;
        font-weight: 600;
        font-size: 60px;
    }
}

.news-event-color {
    background: linear-gradient(#a2bb52, #a5c870);
}

.right-arrow {
    position: relative;
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-top: 22px solid $brand-green;
        border-right: 22px solid transparent;
        border-left: 25px solid transparent;
        position: absolute;
        right: -13%;
        top: 48%;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

.left-arrow {
    position: relative;
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 22px solid $brand-green;
        border-right: 22px solid transparent;
        border-left: 25px solid transparent;
        position: absolute;
        left: -13%;
        top: 44%;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

.wheel-news {
    @include position(absolute,
    1% null null 19%);
}

.news-heading {
    padding: 15px 0;
}

.news-img {
    background: $brand-green;
}

.news-info {
    padding: 45px 30px;
    h5 {
        font-family: "Roboto-Medium";
    }
    p {
        font-family: "Roboto-Light";
    }
    span {
        font-weight: 600;
        font-family: "Roboto-Regular";
    }
}

//END OF NEWS AND EVENT
//SCSS FOR HOME
.aboutus-color {
    // background: linear-gradient( rgba(#a2bb52) 0%, rgba(#a5c870) 1%, rgba(#bfd49d) 77%, rgba(#afbd90) 10%);
    background: linear-gradient(#a2bb52, #a5c870, #bfd49d, #afbd90, #adb88c);
}

.about-white {
    background: $brand-white;
    padding: 50px;
    position: relative;
}

.product-slider {
    background: url("../img/aboutus/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 9;
    .flexslider {
        background: transparent;
        border: none;
        padding: 200px 90px 30px 90px;
        img {
            min-height: 250px;
        }
        .flex-control-nav {
            display: none;
        }
        h3 {
            color: $brand-white;
            font-family: Roboto-Regular;
            font-weight: 600;
        }
    }
}

.product-heading {
    position: absolute;
    top: 15%;
    left: 35%;
    h1 {
        color: $brand-white;
    }
}

.news-and-event {
    background: $brand-green;
    @include padding(150px 30px 70px 30px);
    position: relative;
    margin-top: -18%;
    .wheel {
        @include position(absolute,
        20% null null 21%);
    }
}

.new-event-slider {
    .flexslider {
        margin: 20px 120px;
        background: transparent;
        border: none;
        .flex-direction-nav {
            display: none;
        }
    }
}

.about-desc {
    h4 {
        font-family: Roboto-Regular;
    }
    p {
        padding: 0 180px;
        font-family: Roboto-Light;
    }
}

.whitey {
    background: $brand-white;
    margin-bottom: 10px;
    p {
        font-size: 12px;
    }
}

.btn-brown {
    width: 100px;
    padding: 3px;
    border-radius: 5px;
    color: $brand-white;
    background: $brand-brown;
    font-family: Roboto-Light;
}

.about-contactus {
    padding: 50px 0;
    position: relative;
    .flex-item-1 {
        flex: 5;
    }
    .flex-item-2 {
        flex: 4;
        padding: 20px 50px;
        background: $brand-white;
    }
    h5 {
        font-weight: 600;
    }
    h5,
    p {
        color: black;
        font-family: Roboto-Light;
    }
    h2 {
        font-family: Quicksand-Regular;
        color: black;
        font-weight: 600;
    }
    .map {
        height: 450px;
    }
    .fan {
        @include position(absolute,
        null -5% 0 null);
    }
}

.media-object {
    width: 140px !important;
}

.event-img {
    img {
        min-height: 141px;
    }
}

.news-details {
    background: white;
    .news-details-info {
        padding: 28px;
        h5 {
            font-family: Roboto-Medium;
        }
        span {
            font-family: Roboto-Regular;
        }
    }
}

.news-subdetail {
    padding: 15px;
    h5 {
        font-family: Roboto-Medium;
    }
    span {
        font-family: Roboto-Regular;
    }
}

.event-heading {
    h1 {
        color: $brand-white;
    }
}

.video {
    @include position(absolute,
    -6% null null 47%);
}

.vehicle {
    @include position(absolute,
    35% null null null);
    z-index: 999;
}

.waves {
    @include position(absolute,
    17% null null 62%);
    z-index: 999;
}

.cow {
    @include position(absolute,
    62% -6% null null);
    z-index: 9;
}

//END OF HOME SCSS
//SCSS FOR PRODUCT START
// .grass {
//     position: relative;
//     .grass-content {
//         position: absolute;
//         top: 10%;
//     }
// }
.product-bg {
    padding-top: 63px;
}

.vachan-unomilk {
    position: relative;
    z-index: 1;
    .vachan-content {
        position: absolute;
        top: 0;
        padding: 90px 75px;
        text-align: justify;
    }
}

.grass {
    // background: url(../img/product/3.jpg);
    // background-size: contain;
    // background-repeat: no-repeat;
    // width: 100%;
    // padding: 0 30px;
    // background-position: center top;
    position: relative;
    // .grass-content {
    //     position: absolute;
    //     top: 10%;
    // }
}

.product-table {
    @include position(absolute,
    14% null null 32%);
    table {
        margin-bottom: 0;
    }
}

.product-details {
    position: absolute;
    bottom: -134px;
}

.special-features {
    background-color: #ebb94c;
    margin-top: -10px;
    padding-top: 10px;
    // margin-bottom:-17px;
    // margin-bottom:-17px;
}

.milk {
    position: absolute;
    bottom: -79px;
    left: -8px;
    z-index: 2;
}

.special-features-main {
    margin-top: 35%;
    padding: 0 60px;
}

.stored-locator {
    position: absolute;
    top: 120vh;
    right: -63px;
    .btn-locator {
        transform: rotate(-90deg);
        border-radius: 4px;
        background-color: $brand-brown;
        color: $brand-white;
        border: 1px solid $brand-brown;
        font-size: 22px;
        font-family: 'Roboto-Light';
    }
}

.store-locator-section {
    background-color: #d8f0e2;
    padding: 30px 0px 70px 90px;
    margin-top: -16px;
    position: relative;
}

.store-search {
    width: 320px;
}

.house {
    background: $brand-white;
    padding: 20px;
    margin-top: 30px;
}

.btn-search {
    border-left: none;
}

// .bg-vachan {
//     background: url("../img/product/7.png");
//     background-size: cover;
//     width: 100%;
//     height: 573px;
//     padding: 80px;
// }
//END OF PRODUCT SCSS