<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>Copyright &copy; {{template.year}} SARDADAIRY</p>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <div class="follow inline">
                    <p>Follow us on</p>
                </div>
                <div class="social-icon-footer inline">
                    <ul class="list-inline">
                        <li>
                            <a href="" target="_blank" class="block text-center">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="block text-center">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="block text-center">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="block text-center">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <p>Developed by <a href="" target="_blank">TING</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>