<div class="container">
    <section>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="section-4">
                    <img src="img/home/section3.png" alt="" class="img-responsive">
                    <p>The milk samples are checked for quality parameters.After the tests are finished, the milk is confirmed
                        to meet the strict  quality parameters and then chilled. Before taking it for further processing,
                        the Vachan UNO milk is put through more tests.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>