<div class="container">
    <section>
        <div class="row">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <div class="section-2">
                    <img src="img/home/section1.png" alt="" class="img-responsive">
                    <p>At Sarda Dairy & Food Products Pvt. Ltd, we procure Vachan UNO milk from a network of collection centers
                        across Chhattisgarh.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>