<div class="container">
    <section>
        <div class="row">
            <div class="col-md-6">
                <div class="section-5">
                    <img src="img/home/section4.png" alt="" class="img-responsive">
                    <p>After the tests are completed, the milk is sent for the processing and packaging purpose.Special attention
                        is put on clean and hygienic milk production, so that to ensure the highest quality of milk.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </section>
</div>