<div class="container">
    <section>
        <div class="row">
            <div class="col-md-6">
                <div class="section-3">
                    <img src="img/home/section2.png" alt="" class="img-responsive">
                    <p>The milk collected at centres in villages is transported to the dairy in clean milk cans. sarda Dairy
                        &amp; Food Products Pvt. Ltd. has created integrated cold chain facilities to ensure the freshness
                        of the milk at all stages.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </section>
</div>